<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
            </a>
            <span class="navbar-brand">Angular + Bootstrap</span>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-item" routerLink="/list">Home</a>
            </li>
            <li>
                <a class="navbar-item" routerLink="/content">Contact</a>
            </li>

            <li>
                <a class="navbar-item" routerLink="/sidebar">Sidebar</a>
            </li>

            <li>
                <a class="navbar-item" routerLink="/footer">Footer</a>
            </li>
        </ul>
    </div>
</nav> -->
<header>
    <div class="topbar">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav justify-content-end right-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                robert.greene@providence.com
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item icon-bell">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <div class="notification">4</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="navigation row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/img/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/quick-search">Quick Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/newauth">New Authorization</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/checkreq">Check Requirements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/messages">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/manage-users">Manage Users</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>