<div class="section-table">
    <div class="table-responsive-md">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">PAuth ID</th>
                    <th scope="col">Name (Last, First)</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Provider Name</th>
                    <th scope="col">CPT Code</th>
                    <th scope="col">ICD10 Code</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Service Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ALG-MX1276899</td>
                    <td>Brown, Joe</td>
                    <td>Plan II</td>
                    <td>Baylor, Rudy N</td>
                    <td>72148</td>
                    <td>H69.93</td>
                    <td>11/20/2018</td>
                    <td>03/28/2019</td>
                    <td>Pending decision</td>
                </tr>
                <tr>
                    <td>ALG-MX1276899</td>
                    <td>Brown, Joe</td>
                    <td>Plan II</td>
                    <td>Baylor, Rudy N</td>
                    <td>72148</td>
                    <td>H69.93</td>
                    <td>11/20/2018</td>
                    <td>03/28/2019</td>
                    <td>Pending decision</td>
                </tr>
                <tr>
                    <td>ALG-MX1276899</td>
                    <td>Brown, Joe</td>
                    <td>Plan II</td>
                    <td>Baylor, Rudy N</td>
                    <td>72148</td>
                    <td>H69.93</td>
                    <td>11/20/2018</td>
                    <td>03/28/2019</td>
                    <td>Pending decision</td>
                </tr>
                <tr>
                    <td>ALG-MX1276899</td>
                    <td>Brown, Joe</td>
                    <td>Plan II</td>
                    <td>Baylor, Rudy N</td>
                    <td>72148</td>
                    <td>H69.93</td>
                    <td>11/20/2018</td>
                    <td>03/28/2019</td>
                    <td>Pending decision</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>